#car-profile_form {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

.car-profile {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;

    &_fields {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        width: 35%;

        input {

        }
    }

    &__field-image {
        background: #eee;
        width: 60%;
        height: 360px;
    }
}
